<?xml version="1.0" encoding="utf-8"?>
<!--
Copyright (c) 2013-2014 eBay Enterprise, Inc.

NOTICE OF LICENSE

This source file is subject to the Open Software License (OSL 3.0)
that is bundled with this package in the file LICENSE.md.
It is also available through the world-wide-web at this URL:
http://opensource.org/licenses/osl-3.0.php

@copyright   Copyright (c) 2013-2014 eBay Enterprise, Inc. (http://www.ebayenterprise.com/)
@license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
-->
<config>
    <modules>
        <EbayEnterprise_Eb2cFraud>
            <version>0.9.3</version>
        </EbayEnterprise_Eb2cFraud>
    </modules>
    <global>
        <models>
            <eb2cfraud>
                <class>EbayEnterprise_Eb2cFraud_Model</class>
            </eb2cfraud>
        </models>
        <fieldsets>
            <sales_convert_quote>
                <eb2c_fraud_javascript_data>
                    <to_order>*</to_order>
                </eb2c_fraud_javascript_data>
                <eb2c_fraud_host_name>
                    <to_order>*</to_order>
                </eb2c_fraud_host_name>
                <eb2c_fraud_ip_address>
                    <to_order>*</to_order>
                </eb2c_fraud_ip_address>
                <eb2c_fraud_session_id>
                    <to_order>*</to_order>
                </eb2c_fraud_session_id>
                <eb2c_fraud_user_agent>
                    <to_order>*</to_order>
                </eb2c_fraud_user_agent>
                <eb2c_fraud_referrer>
                    <to_order>*</to_order>
                </eb2c_fraud_referrer>
                <eb2c_fraud_content_types>
                    <to_order>*</to_order>
                </eb2c_fraud_content_types>
                <eb2c_fraud_encoding>
                    <to_order>*</to_order>
                </eb2c_fraud_encoding>
                <eb2c_fraud_language>
                    <to_order>*</to_order>
                </eb2c_fraud_language>
                <eb2c_fraud_char_set>
                    <to_order>*</to_order>
                </eb2c_fraud_char_set>
            </sales_convert_quote>
        </fieldsets>
        <resources>
            <eb2cfraud_setup>
                <setup>
                    <module>EbayEnterprise_Eb2cFraud</module>
                    <class>Mage_Sales_Model_Resource_Setup</class>
                </setup>
            </eb2cfraud_setup>
        </resources>
        <helpers>
            <eb2cfraud>
                <class>EbayEnterprise_Eb2cFraud_Helper</class>
            </eb2cfraud>
        </helpers>
        <blocks>
            <eb2cfraud>
                <class>EbayEnterprise_Eb2cFraud_Block</class>
            </eb2cfraud>
        </blocks>
        <events>
		<checkout_submit_all_after>
			<observers>
				<handle_multi_shipping_orders_risk_fraud>
					<class>eb2cfraud/observer</class>
					<method>handleCheckoutSubmitAllAfter</method>
					<type>singleton</type>
				</handle_multi_shipping_orders_risk_fraud>
			</observers>
		</checkout_submit_all_after>
		<sales_quote_remove_item>
                	<observers>
                	    <eb2cfraud_add_cartcount>
                	    	<class>eb2cfraud/observer</class>
                	    	<method>addRemovedCartCount</method>
                    	    </eb2cfraud_add_cartcount>
                	</observers>
            	</sales_quote_remove_item>
	        <ebayenterprise_amqp_message_risk_assessment_reply>
			<observers>
				<eb2cfraud_update_order>
					<class>eb2cfraud/observer</class>
					<method>updateOrderStatus</method>
				</eb2cfraud_update_order>
			</observers>
		</ebayenterprise_amqp_message_risk_assessment_reply>
		<ebayenterprise_creditcard_auth_request_send_before>
                        <observers>
                                <eb2cfraud_count_reject>
                                        <class>eb2cfraud/observer</class>
                                        <method>countAuthAttempts</method>
                                </eb2cfraud_count_reject>
                        </observers>
                </ebayenterprise_creditcard_auth_request_send_before>
		<sales_order_save_after>
			<observers>
				<eb2cfraud_orderconfirmrequest>
					<class>eb2cfraud/observer</class>
					<method>processOrderConfirmationRequest</method>
				</eb2cfraud_orderconfirmrequest>
			</observers>
		</sales_order_save_after>
	</events>
    </global>
    <frontend>
        <layout>
            <updates>
                <eb2cfraud>
                    <file>eb2cfraud.xml</file>
                </eb2cfraud>
            </updates>
        </layout>
    </frontend>
    <default>
        <eb2cfraud>
            <risk_service>
		<!-- Can be: pound, ounce, kilogram, gram, unknown https://gitlab.gspt.net/Cheetah/retailordermanagement-sdk/blob/master/src/eBayEnterprise/RetailOrderManagement/Schemas/checkout/1.0/Risk-Service-Datatypes-1.0.xsd for UnitOfWeightType -->
		<uom>pound</uom>
                <card_type_map>
                    <AE>AM</AE>
                    <VI>VC</VI>
                    <MC>MC</MC>
                    <DI>DC</DI>
                    <JCB>OTHER</JCB>
                    <SM>OTHER</SM>
                    <SO>OTHER</SO>
                    <OT>OTHER</OT>
                    <cashondelivery>CASH</cashondelivery>
                    <paypal_express>PY</paypal_express>
                    <payflow_advanced>PY</payflow_advanced>
                    <payflow_link>PY</payflow_link>
                    <hosted_pro>PY</hosted_pro>
                    <verisign>PY</verisign>
                    <paypaluk_direct>PY</paypaluk_direct>
                    <paypaluk_express>PY</paypaluk_express>
                    <paypal_standard>PY</paypal_standard>
                    <paypal_direct>PY</paypal_direct>
                    <paypal_express_bml>BL</paypal_express_bml>
                    <free>OTHER</free>
                    <giftcard>GC</giftcard>
                    <checkmo>OTHER</checkmo>
                    <ogone>OTHER</ogone>
                    <purchaseorder>OTHER</purchaseorder>
                    <banktransfer>OTHER</banktransfer>
                </card_type_map>
		<card_name_map>
			<AE>American Express</AE>
			<VI>Visa</VI>
			<MC>MasterCard</MC>
			<DI>Diners Card</DI>
			<JCB>JCB</JCB>
		</card_name_map>
                <payment_adapter_map>
                    <authorizenet>eb2cfraud/payment_adapter_authorizenet</authorizenet>
                    <giftcard>eb2cfraud/payment_adapter_giftcard</giftcard>
                    <checkmo>eb2cfraud/payment_adapter_checkmo</checkmo>
                    <ccsave>eb2cfraud/payment_adapter_default</ccsave>
                    <payflow_advanced>eb2cfraud/payment_adapter_default</payflow_advanced>
                    <payflow_link>eb2cfraud/payment_adapter_default</payflow_link>
                    <hosted_pro>eb2cfraud/payment_adapter_default</hosted_pro>
                    <paypal_express>eb2cfraud/payment_adapter_paypal_express</paypal_express>
                    <verisign>eb2cfraud/payment_adapter_default</verisign>
                    <paypaluk_direct>eb2cfraud/payment_adapter_default</paypaluk_direct>
                    <paypaluk_express>eb2cfraud/payment_adapter_default</paypaluk_express>
                    <paypal_standard>eb2cfraud/payment_adapter_default</paypal_standard>
                    <paypal_direct>eb2cfraud/payment_adapter_default</paypal_direct>
                    <paypal_express_bml>eb2cfraud/payment_adapter_default</paypal_express_bml>
                    <pbridge>eb2cfraud/payment_adapter_pbridge</pbridge>
                    <pbridge_authorizenet>eb2cfraud/payment_adapter_pbridge</pbridge_authorizenet>
                    <pbridge_ogone_direct>eb2cfraud/payment_adapter_pbridge</pbridge_ogone_direct>
                    <pbridge_paypal_direct>eb2cfraud/payment_adapter_pbridge</pbridge_paypal_direct>
                    <pbridge_paypaluk_direct>eb2cfraud/payment_adapter_pbridge</pbridge_paypaluk_direct>
                    <pbridge_verisign>eb2cfraud/payment_adapter_pbridge</pbridge_verisign>
                    <pbridge_ogone_direct>eb2cfraud/payment_adapter_pbridge</pbridge_ogone_direct>
                    <pbridge_ogone_direct_debit>eb2cfraud/payment_adapter_pbridge</pbridge_ogone_direct_debit>
                    <pbridge_worldpay_direct>eb2cfraud/payment_adapter_pbridge</pbridge_worldpay_direct>
                    <pbridge_cybersource_soap>eb2cfraud/payment_adapter_pbridge</pbridge_cybersource_soap>
                    <pbridge_dibs>eb2cfraud/payment_adapter_pbridge</pbridge_dibs>
                    <pbridge_braintree_basic>eb2cfraud/payment_adapter_pbridge</pbridge_braintree_basic>
                    <pbridge_sagepay_direct>eb2cfraud/payment_adapter_pbridge</pbridge_sagepay_direct>
                    <pbridge_firstdata>eb2cfraud/payment_adapter_pbridge</pbridge_firstdata>
                    <pbridge_eway_direct>eb2cfraud/payment_adapter_pbridge</pbridge_eway_direct>
                    <pbridge_payone_gate>eb2cfraud/payment_adapter_pbridge</pbridge_payone_gate>
                    <pbridge_paybox_direct>eb2cfraud/payment_adapter_pbridge</pbridge_paybox_direct>
                    <pbridge_psigate_basic>eb2cfraud/payment_adapter_pbridge</pbridge_psigate_basic>
                    <pbridge_payone_debit>eb2cfraud/payment_adapter_pbridge</pbridge_payone_debit>
                    <ogone>eb2cfraud/payment_adapter_default</ogone>
                    <purchaseorder>eb2cfraud/payment_adapter_purchase_order</purchaseorder>
                </payment_adapter_map>
		<response_codes>
			<Accept>risk_accept</Accept>
			<Manual_Accept>risk_accept</Manual_Accept>
			<Cancel>risk_cancel</Cancel>
			<Reject>risk_reject</Reject>
			<Ignore>risk_ignore</Ignore>
			<Suspend>risk_suspend</Suspend>
			<Reject_Pending>risk_rejectpending</Reject_Pending>
		</response_codes>
		<response_codes_states>
			<Accept>processing</Accept>
			<Manual_Accept>processing</Manual_Accept>
			<Cancel>canceled</Cancel>
			<Reject>canceled</Reject>
			<Ignore>holded</Ignore>
			<Suspend>holded</Suspend>
			<Reject_Pending>holded</Reject_Pending>
		</response_codes_states>
		<order_status_codes_to_fraud>
			<new>IN_PROCESS</new>
			<pending_payment>IN_PROCESS</pending_payment>
			<processing>IN_PROCESS</processing>
			<complete>SHIPPED</complete>
			<closed>COMPLETE</closed>
			<canceled>CANCELLED</canceled>
			<holded>IN_PROCESS</holded>
			<payment_review>IN_PROCESS</payment_review>
		</order_status_codes_to_fraud>
		<order_status_to_confirmation_codes>
			<new>OTHER</new>
			<pending_payment>OTHER</pending_payment>
			<processing>OTHER</processing>
			<complete>SHIPMENT</complete>
			<closed>RETURN PROCESSED</closed>
			<canceled>CANCEL</canceled>
			<holded>OTHER</holded>
			<payment_review>IN_PROCESS</payment_review>
		</order_status_to_confirmation_codes>
		<item_status_codes_to_fraud>
			<Ordered>PENDING</Ordered>
			<Shipped>SHIPPED</Shipped>
			<Invoiced>PENDING</Invoiced>
			<Backordered>PENDING</Backordered>
			<Returned>RETURNED</Returned>
			<Refunded>RETURNED</Refunded>
			<Canceled>CANCELLED</Canceled>
			<Partial>PENDING</Partial>
			<Mixed>PENDING</Mixed>
		</item_status_codes_to_fraud>
		<ship_vendor_to_fraud>
			<freeshipping>OTHER</freeshipping>
			<flatrate>OTHER</flatrate>
			<tablerate>OTHER</tablerate>
			<fedex>FEDEX</fedex>
			<ups>UPS</ups>
			<usps>USPS</usps>
			<dhlint>DHL</dhlint>
			<dhl>DHL</dhl>
		</ship_vendor_to_fraud>
		<ship_method_to_fraud>
			<flatrate_flatrate>STANDARD</flatrate_flatrate>
			<freeshipping_freeshipping>FREE</freeshipping_freeshipping>
			<tablerate_bestway>STANDARD</tablerate_bestway>
			<fedex_EUROPE_FIRST_INTERNATIONAL_PRIORITY>EXPRESS</fedex_EUROPE_FIRST_INTERNATIONAL_PRIORITY>
			<fedex_FEDEX_1_DAY_FREIGHT>1DAY</fedex_FEDEX_1_DAY_FREIGHT>
			<fedex_FEDEX_2_DAY_FREIGHT>2DAY</fedex_FEDEX_2_DAY_FREIGHT>
			<fedex_FEDEX_2_DAY>2DAY</fedex_FEDEX_2_DAY>
			<fedex_FEDEX_3_DAY_FREIGHT>3DAY</fedex_FEDEX_3_DAY_FREIGHT>
			<fedex_FEDEX_EXPRESS_SAVER>EXPRESS</fedex_FEDEX_EXPRESS_SAVER>
			<fedex_FEDEX_GROUND>STANDARD</fedex_FEDEX_GROUND>
			<fedex_FIRST_OVERNIGHT>1DAY</fedex_FIRST_OVERNIGHT>
			<fedex_GROUND_HOME_DELIVERY>STANDARD</fedex_GROUND_HOME_DELIVERY>
			<fedex_INTERNATIONAL_ECONOMY>STANDARD</fedex_INTERNATIONAL_ECONOMY>
			<fedex_INTERNATIONAL_ECONOMY_FREIGHT>STANDARD</fedex_INTERNATIONAL_ECONOMY_FREIGHT>
			<fedex_INTERNATIONAL_FIRST>EXPRESS</fedex_INTERNATIONAL_FIRST>
			<fedex_INTERNATIONAL_PRIORITY>EXPRESS</fedex_INTERNATIONAL_PRIORITY>
			<fedex_PRIORITY_OVERNIGHT>1DAY</fedex_PRIORITY_OVERNIGHT>
			<fedex_STANDARD_OVERNIGHT>1DAY</fedex_STANDARD_OVERNIGHT>
			<ups_1DM>1DAY</ups_1DM>
			<ups_1DML>1DAY</ups_1DML>
			<ups_1DA>1DAY</ups_1DA>
			<ups_1DAL>1DAY</ups_1DAL>
			<ups_1DAPI>1DAY</ups_1DAPI>
			<ups_1DP>1DAY</ups_1DP>
			<ups_1DPL>1DAY</ups_1DPL>
			<ups_2DM>2DAY</ups_2DM>
			<ups_2DML>2DAY</ups_2DML>
			<ups_2DA>2DAY</ups_2DA>
			<ups_2DAL>2DAY</ups_2DAL>
			<ups_3DS>3DAY</ups_3DS>
			<ups_GND>STANDARD</ups_GND>
			<ups_GNDCOM>STANDARD</ups_GNDCOM>
			<ups_GNDRES>STANDARD</ups_GNDRES>
			<ups_STD>STANDARD</ups_STD>
			<ups_XPR>EXPRESS</ups_XPR>
			<ups_WXS>EXPRESS</ups_WXS>
			<ups_XPRL>EXPRESS</ups_XPRL>
			<ups_XDM>EXPRESS</ups_XDM>
			<ups_XDML>EXPRESS</ups_XDML>
			<ups_XPD>EXPRESS</ups_XPD>
			<usps_0_FCLE>STANDARD</usps_0_FCLE>
			<usps_0_FCL>STANDARD</usps_0_FCL>
			<usps_0_FCP>SANDARD</usps_0_FCP>
			<usps_1>STANDARD</usps_1>
			<usps_2>EXPRESS</usps_2>
			<usps_3>EXPRESS</usps_3>
			<usps_4>STANDARD</usps_4>
			<usps_6>STANDARD</usps_6>
			<usps_7>STANDARD</usps_7>
			<usps_23>SATURDAY</usps_23>
			<usps_25>SATURDAY</usps_25>
			<usps_INT_2>STANDARD</usps_INT_2>
			<usps_INT_6>EXPRESS</usps_INT_6>
			<usps_INT_7>EXPRESS</usps_INT_7>
			<usps_INT_14>EXPRESS</usps_INT_14>
		</ship_method_to_fraud>
            </risk_service>
        </eb2cfraud>
    </default>
    <phpunit>
        <suite>
            <modules>
                <EbayEnterprise_Eb2cFraud/>
            </modules>
        </suite>
    </phpunit>
</config>

