<?xml version="1.0" encoding="utf-8"?>
<!--
Copyright (c) 2013-2016 Radial, Inc.

NOTICE OF LICENSE

This source file is subject to the Open Software License (OSL 3.0)
that is bundled with this package in the file LICENSE.md.
It is also available through the world-wide-web at this URL:
http://opensource.org/licenses/osl-3.0.php

@copyright   Copyright (c) 2013-2016 Radial, Inc. (http://www.radial.com/)
@license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
-->
<config>
    <modules>
        <Radial_Eb2cFraud>
            <version>0.9.8</version>
        </Radial_Eb2cFraud>
    </modules>
    <global>
        <models>
	    <radial_eb2cfraud>
                <class>Radial_Eb2cFraud_Model</class>
            </radial_eb2cfraud>
	</models>
        <fieldsets>
            <sales_convert_quote>
                <eb2c_fraud_javascript_data>
                    <to_order>*</to_order>
                </eb2c_fraud_javascript_data>
                <eb2c_fraud_host_name>
                    <to_order>*</to_order>
                </eb2c_fraud_host_name>
                <eb2c_fraud_ip_address>
                    <to_order>*</to_order>
                </eb2c_fraud_ip_address>
                <eb2c_fraud_session_id>
                    <to_order>*</to_order>
                </eb2c_fraud_session_id>
                <eb2c_fraud_user_agent>
                    <to_order>*</to_order>
                </eb2c_fraud_user_agent>
                <eb2c_fraud_referrer>
                    <to_order>*</to_order>
                </eb2c_fraud_referrer>
                <eb2c_fraud_content_types>
                    <to_order>*</to_order>
                </eb2c_fraud_content_types>
                <eb2c_fraud_encoding>
                    <to_order>*</to_order>
                </eb2c_fraud_encoding>
                <eb2c_fraud_language>
                    <to_order>*</to_order>
                </eb2c_fraud_language>
                <eb2c_fraud_char_set>
                    <to_order>*</to_order>
                </eb2c_fraud_char_set>
            </sales_convert_quote>
        </fieldsets>
        <resources>
            <radial_eb2cfraud_setup>
                <setup>
                    <module>Radial_Eb2cFraud</module>
		    <class>Mage_Sales_Model_Resource_Setup</class>
                </setup>
            </radial_eb2cfraud_setup>
        </resources>
        <helpers>
            <radial_eb2cfraud>
                <class>Radial_Eb2cFraud_Helper</class>
            </radial_eb2cfraud>
        </helpers>
        <blocks>
            <radial_eb2cfraud>
                <class>Radial_Eb2cFraud_Block</class>
            </radial_eb2cfraud>
        </blocks>
        <events>
		<sales_order_place_after>
			<observers>
				<handle_multi_shipping_orders_risk_fraud>
					<class>radial_eb2cfraud/observer</class>
					<method>handleCheckoutSubmitAllAfter</method>
					<type>singleton</type>
				</handle_multi_shipping_orders_risk_fraud>
			</observers>
		</sales_order_place_after>
		<sales_quote_remove_item>
                	<observers>
                	    <radial_eb2cfraud_add_cartcount>
                	    	<class>radial_eb2cfraud/observer</class>
                	    	<method>addRemovedCartCount</method>
                    	    </radial_eb2cfraud_add_cartcount>
                	</observers>
            	</sales_quote_remove_item>
	        <radial_amqp_message_risk_assessment_reply>
			<observers>
				<radial_eb2cfraud_update_order>
					<class>radial_eb2cfraud/observer</class>
					<method>updateOrderStatus</method>
				</radial_eb2cfraud_update_order>
			</observers>
		</radial_amqp_message_risk_assessment_reply>
		<radial_creditcard_auth_request_send_before>
                        <observers>
                                <radial_eb2cfraud_count_reject>
                                        <class>radial_eb2cfraud/observer</class>
                                        <method>countAuthAttempts</method>
                                </radial_eb2cfraud_count_reject>
                        </observers>
                </radial_creditcard_auth_request_send_before>
		<sales_order_save_after>
			<observers>
				<radial_eb2cfraud_orderconfirmrequest>
					<class>radial_eb2cfraud/risk_order</class>
					<method>processOrderConfirmationRequest</method>
				</radial_eb2cfraud_orderconfirmrequest>
			</observers>
		</sales_order_save_after>
	</events>
	<template>
		<email>
			<custom_email_template1 module="FraudRisk">
				<label>Radial - Fraud / Risk Exception Report</label>
				<file>fraud_exception_template.html</file>
				<type>html</type>
			</custom_email_template1>
		</email>
	</template>
    </global>
    <frontend>
        <layout>
            <updates>
                <radial_eb2cfraud>
                    <file>radial_eb2cfraud.xml</file>
                </radial_eb2cfraud>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <radial_eb2cfraud module="radial_eb2cfraud">
                    <file>radial_eb2cfraud.xml</file>
                </radial_eb2cfraud>
            </updates>
        </layout>
    </adminhtml>
    <default>
	<radial_core>
		<fraud>
			<maxretries>3</maxretries>
		</fraud>
	</radial_core>
        <radial_eb2cfraud>
            <risk_service>
		<!-- Can be: pound, ounce, kilogram, gram, unknown https://gitlab.gspt.net/Cheetah/retailordermanagement-sdk/blob/master/src/eBayEnterprise/RetailOrderManagement/Schemas/checkout/1.0/Risk-Service-Datatypes-1.0.xsd for UnitOfWeightType -->
		<uom>pound</uom>
                <card_type_map>
                    <AE>AM</AE>
                    <VI>VC</VI>
                    <MC>MC</MC>
                    <DI>DC</DI>
                    <JCB>OTHER</JCB>
                    <SM>OTHER</SM>
                    <SO>OTHER</SO>
                    <OT>OTHER</OT>
                    <cashondelivery>CASH</cashondelivery>
                    <paypal_express>PY</paypal_express>
                    <payflow_advanced>PY</payflow_advanced>
                    <payflow_link>PY</payflow_link>
                    <hosted_pro>PY</hosted_pro>
                    <verisign>PY</verisign>
                    <paypaluk_direct>PY</paypaluk_direct>
                    <paypaluk_express>PY</paypaluk_express>
                    <paypal_standard>PY</paypal_standard>
                    <paypal_direct>PY</paypal_direct>
		    <radial_paypal_express>PY</radial_paypal_express>
		    <radial_paypal_standard>PY</radial_paypal_standard>
		    <radial_paypal_direct>PY</radial_paypal_direct>
                    <giftcard>GC</giftcard>
                    <checkmo>OTHER</checkmo>
                    <ogone>OTHER</ogone>
                    <purchaseorder>OTHER</purchaseorder>
                    <banktransfer>OTHER</banktransfer>
                </card_type_map>
		<card_name_map>
			<AE>American Express</AE>
			<VI>Visa</VI>
			<MC>MasterCard</MC>
			<DI>Diners Card</DI>
			<JCB>JCB</JCB>
		</card_name_map>
                <payment_adapter_map>
                    <authorizenet>radial_eb2cfraud/payment_adapter_authorizenet</authorizenet>
                    <giftcard>radial_eb2cfraud/payment_adapter_giftcard</giftcard>
                    <checkmo>radial_eb2cfraud/payment_adapter_checkmo</checkmo>
                    <ccsave>radial_eb2cfraud/payment_adapter_default</ccsave>
                    <payflow_advanced>radial_eb2cfraud/payment_adapter_default</payflow_advanced>
                    <payflow_link>radial_eb2cfraud/payment_adapter_default</payflow_link>
                    <hosted_pro>radial_eb2cfraud/payment_adapter_default</hosted_pro>
                    <paypal_express>radial_eb2cfraud/payment_adapter_paypal_express</paypal_express>
		    <radial_paypal_express>radial_eb2cfraud/payment_adapter_paypal_express</radial_paypal_express>
                    <verisign>radial_eb2cfraud/payment_adapter_default</verisign>
                    <paypaluk_direct>radial_eb2cfraud/payment_adapter_default</paypaluk_direct>
                    <paypaluk_express>radial_eb2cfraud/payment_adapter_default</paypaluk_express>
                    <paypal_standard>radial_eb2cfraud/payment_adapter_default</paypal_standard>
		    <radial_paypal_standard>radial_eb2cfraud/payment_adapter_paypal_express</radial_paypal_standard>
                    <paypal_direct>radial_eb2cfraud/payment_adapter_default</paypal_direct>
		    <radial_paypal_direct>radial_eb2cfraud/payment_adapter_paypal_express</radial_paypal_direct>
                    <paypal_express_bml>radial_eb2cfraud/payment_adapter_default</paypal_express_bml>
                    <pbridge>radial_eb2cfraud/payment_adapter_pbridge</pbridge>
                    <pbridge_authorizenet>radial_eb2cfraud/payment_adapter_pbridge</pbridge_authorizenet>
                    <pbridge_ogone_direct>radial_eb2cfraud/payment_adapter_pbridge</pbridge_ogone_direct>
                    <pbridge_paypal_direct>radial_eb2cfraud/payment_adapter_pbridge</pbridge_paypal_direct>
                    <pbridge_paypaluk_direct>radial_eb2cfraud/payment_adapter_pbridge</pbridge_paypaluk_direct>
                    <pbridge_verisign>radial_eb2cfraud/payment_adapter_pbridge</pbridge_verisign>
                    <pbridge_ogone_direct>radial_eb2cfraud/payment_adapter_pbridge</pbridge_ogone_direct>
                    <pbridge_ogone_direct_debit>radial_eb2cfraud/payment_adapter_pbridge</pbridge_ogone_direct_debit>
                    <pbridge_worldpay_direct>radial_eb2cfraud/payment_adapter_pbridge</pbridge_worldpay_direct>
                    <pbridge_cybersource_soap>radial_eb2cfraud/payment_adapter_pbridge</pbridge_cybersource_soap>
                    <pbridge_dibs>radial_eb2cfraud/payment_adapter_pbridge</pbridge_dibs>
                    <pbridge_braintree_basic>radial_eb2cfraud/payment_adapter_pbridge</pbridge_braintree_basic>
                    <pbridge_sagepay_direct>radial_eb2cfraud/payment_adapter_pbridge</pbridge_sagepay_direct>
                    <pbridge_firstdata>radial_eb2cfraud/payment_adapter_pbridge</pbridge_firstdata>
                    <pbridge_eway_direct>radial_eb2cfraud/payment_adapter_pbridge</pbridge_eway_direct>
                    <pbridge_payone_gate>radial_eb2cfraud/payment_adapter_pbridge</pbridge_payone_gate>
                    <pbridge_paybox_direct>radial_eb2cfraud/payment_adapter_pbridge</pbridge_paybox_direct>
                    <pbridge_psigate_basic>radial_eb2cfraud/payment_adapter_pbridge</pbridge_psigate_basic>
                    <pbridge_payone_debit>radial_eb2cfraud/payment_adapter_pbridge</pbridge_payone_debit>
                    <ogone>radial_eb2cfraud/payment_adapter_default</ogone>
                    <purchaseorder>radial_eb2cfraud/payment_adapter_purchase_order</purchaseorder>
                </payment_adapter_map>
		<response_codes>
			<Accept>risk_accept</Accept>
			<Manual_Accept>risk_accept</Manual_Accept>
			<Cancel>risk_cancel</Cancel>
			<Reject>risk_cancel</Reject>
			<Ignore>risk_ignore</Ignore>
			<Suspend>risk_suspend</Suspend>
			<Reject_Pending>risk_rejectpending</Reject_Pending>
		</response_codes>
		<response_codes_states>
			<Accept>processing</Accept>
			<Manual_Accept>processing</Manual_Accept>
			<Cancel>canceled</Cancel>
			<Reject>canceled</Reject>
			<Ignore>processing</Ignore>
			<Suspend>processing</Suspend>
			<Reject_Pending>processing</Reject_Pending>
		</response_codes_states>
		<order_status_codes_to_fraud>
			<new>IN_PROCESS</new>
			<pending>IN_PROCESS</pending>
			<pending_payment>IN_PROCESS</pending_payment>
			<processing>IN_PROCESS</processing>
			<complete>COMPLETED</complete>
			<closed>COMPLETED</closed>
			<canceled>CANCELLED</canceled>
			<holded>IN_PROCESS</holded>
			<payment_review>IN_PROCESS</payment_review>
		</order_status_codes_to_fraud>
		<order_status_to_confirmation_codes>
			<new>OTHER</new>
			<pending>OTHER</pending>
			<pending_payment>OTHER</pending_payment>
			<processing>OTHER</processing>
			<complete>SHIPMENT</complete>
			<closed>CREDIT ISSUED</closed>
			<canceled>CANCEL</canceled>
			<holded>OTHER</holded>
			<payment_review>OTHER</payment_review>
		</order_status_to_confirmation_codes>
		<item_status_codes_to_fraud>
			<Ordered>PENDING</Ordered>
			<Shipped>SHIPPED</Shipped>
			<Invoiced>PENDING</Invoiced>
			<Backordered>PENDING</Backordered>
			<Returned>RETURNED</Returned>
			<Refunded>RETURNED</Refunded>
			<Canceled>CANCELLED</Canceled>
			<Partial>PENDING</Partial>
			<Mixed>PENDING</Mixed>
		</item_status_codes_to_fraud>
		<ship_vendor_to_fraud>
			<fedex>FEDEX</fedex>
			<ups>UPS</ups>
			<usps>USPS</usps>
			<dhlint>DHL</dhlint>
			<dhl>DHL</dhl>
		</ship_vendor_to_fraud>
            </risk_service>
        </radial_eb2cfraud>
    </default>
    <phpunit>
        <suite>
            <modules>
                <Radial_Eb2cFraud/>
            </modules>
        </suite>
    </phpunit>
     <admin>
        <routers>
            <eb2cfraud>
                <use>admin</use>
                <args>
                    <frontName>eb2cfraud</frontName>
                    <module>Radial_Eb2cFraud_Adminhtml</module>
                </args>
            </eb2cfraud>
        </routers>
    </admin>
</config>

